<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.js">

  <!-- Main css -->
  <link rel="stylesheet" href="static/css/style_bert.css">


  <title>Natural Language Processing (NLP) Question and Answer Demo by Pragnakalp Solutions</title>
</head>

<body>

  <div class="main">
    <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container">
        <div class="signup-content">
          <h2 class="form-title">Here is the result of your questions </h2>
          <!-- <b> <label for="form-title" class="form-title" align="center">Here you go</label> </b> -->

          <strong>Question 1</strong>: {{q1}}

          <div class="alert alert-info">
            <strong>Answer 1</strong>: {{a1}} <br>
          </div>

          <strong>Question 2</strong>: {{q2}} <br>

          <div class="alert alert-info">
            <strong>Answer 2</strong>: {{a2}} <br>
          </div>

          <strong>Question 3</strong>: {{q3}} <br>

          <div class="alert alert-info">
            <strong>Answer 3</strong>: {{a3}} <br>
          </div>

          <strong>Question 4</strong>: {{q4}} <br>

          <div class="alert alert-info">
            <strong>Answer 4</strong>: {{a4}} <br>
          </div>

          <strong>Question 5</strong>: {{q5}} <br>
          <div class="alert alert-info">
            <strong>Answer 5</strong>: {{a5}} <br>
          </div>

          <div class="alert alert-success">
            <strong>Paragraph!</strong>: {{para}}
          </div>
          <div class="w3-container">
            <!-- <h2> <a href="http://127.0.0.1:5000/bert_qna" class="w3-button w3-black">Try Again</a> </h2> -->
            <h2> <a href='/'  class="w3-button w3-black">Try Again</a> </h2>
          </div>

          <footer align="center">
            <p style="color: black; font-size: 15px;">Developed by : <a href="https://www.pragnakalp.com"
                target="_blank">Pragnakalp Techlabs </a></p>
          </footer>
        </div>
      </div>
    </section>
  </div>
</body>
</html>